/**채팅 페이지*/
.chat-page{
	display: flex;
}
.chat-page__side-panel{
	width: 300px;
}
.chat-page__main-panel{
	width: 100%;
}
.main-panel__body{
	padding: 2rem 2rem 0 2rem;
}
.main-panel__hader-box{
	width: 100%;
	height: 450px;
	border: .2rem solid #ececec;
	border-radius: 4px;
	padding: 1rem;
	margin-bottom: 1rem;
	overflow-y: auto;
}
/** 사이드 패널 */
.side-panel__body{
	background-color: #7b83eb;
	padding: 2rem;
	min-height: 100vh;
	color: white;
	min-width: 275px;
}
.side-panel__user-panel h3{
	color: white;
}
.user-panel__dropdown{
	display: flex;
	margin-bottom: 1rem;
}
.user-panel__dropdown-user-img{
	width: 30px;
	height: 30px;
	margin-top: 3px;
}
#dropdown-basic{
	background-color: transparent;
	border: 0px;
}
.chat-room_header{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}
.side-panel__chat-room ul{
	list-style-type: none;
	padding: 0;
}
.side-panel__chat-room li{
	cursor: pointer;
}
.side-panel__chat-room .active-li{
	background-color: #ffffff45;
}

/** 메인 패널 */
.main-panel__message-header{
	width: 100%;
	height: 170px;
	border: .2rem solid #ececec;
	border-radius: 4px;
	padding: 1rem;
	margin-bottom: 1rem;
}
.message-header__center{
	display: flex;
	justify-content: flex-end;
}
.main-panel__message-box{
	width: 100%;
	height: 450px;
	border: .2rem solid #ececec;
	border-radius: 4px;
	padding: 1rem;
	margin-bottom: 1rem;
	overflow-y: auto;
}
.main-panel__message-form button{
	width: 100%;
	background: #7A84EB;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}
.message-box__message{
	margin-bottom: 3px;
}
.message-box__message .user-img{
	border-radius: 10px;
}
.message-box__message span{
	font-size: 10px;
	color: gray;
	margin-left: 5px;
}
.message-box__message .message-img{
	max-width: 300px;
}